
h1
{
    text-align: center;
}

@keyframes example {
  0%   {background-color: cyan;}
  25%  {background-color: yellow;}
  50%  {background-color: magenta;}
  100% {background-color: red;}
}
@keyframes borderr 
{
    0%   {fill: 3px solid black;}
    25%  {fill: 3px solid white;}
    50%  {fill: 3px solid black;}
    100% {fill: 3px solid white;}
}




@keyframes eyes
{
    0%   {fill: cyan;
            stroke: magenta ;}
    25%  {fill: yellow;
            stroke: blue;}
    50%  {fill: magenta;
            stroke: green;}
    100% {fill: red;
            stroke: orange;}
}
@keyframes left-eye
{
    0%   {fill: red;}
    100%   {fill: magenta;}
}
@keyframes right-eye
{
    0%   {fill: magenta;}
    100%   {fill: red;}
}
.center
{
    display: grid;
    place-items: center;
    animation-name: borderr;
    animation-duration: 1ms;
    animation-iteration-count: infinite;



    
}


#left-pupil
{
    animation-name: left-eye;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}
#right-pupil
{
    animation-name: right-eye;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}



body
{
    animation-name: example;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

